<html>
  <style type="text/css">
     @import url("../style/tigris.css");
     @import url("../style/maven.css");
  </style>
  
  <head>
  	<title>$title</title>
  </head>
        
  <body class="composite" style="margin: 0; padding: 0">  
        <div id="banner">
<table border="0" cellspacing="0" cellpadding="4" width="100%">
 <tr>
  <td align="left">
   <table border="0" cellpadding="0" cellspacing="2"><tr>

    <td valign="top"><a href="http://projects.walding.com/overlord/"
    title="Overlord, your solution for: Tracking Projects across the Globe"><img src="../images/overlord.png" 
    alt="Overlord" id="tigrislogo" border="0" /--></a></td> 
    <td valign="middle" nowrap="nowrap"><div style="padding-left: 60px; ">Java Project Aggregation</div></td>
   </tr></table>
  </td>
<td >
<div align="right" id="login">

</td>
</tr>
</table>
</div>
<table id="main" style="width: 100%">
<tr><td id="leftcol" width="7%" rowspan="1">
  <div id="navcolumn" style="margin-right:5px">
	<a href="../servlet/index">Home</a>
	<br/><a href="../servlet/search">Search</a>
	<br/><a href="../servlet/advancedsearch">Advanced&nbsp;Search</a>
	<br/><a href="../servlet/manageprojects">Manage</a>
  </div>
</td>
<td>
<div id="bodycol">
      <div class="app">
    