<br/>
      	
<div  class="h3">
<h3>Dependencies</h3>
#if ($project.Dependencies.size() > 0) 
${rowtoggler.reset()}
<table style="margin-top: 10px; margin-left: 10px; border: 1px solid black">
	<tr class="$rowtoggler.Next">
		<th>Artifact ID</th>
		<th>URL</th>
		<th>Version</th>
		<th>File</th>
		<th>Type</th>
		<th>License</th>
	</tr>
	#foreach ($dep in $project.Dependencies)
	<tr class="$rowtoggler.next">
		#if ($engine.Store.getProject($dep.ArtifactId))
		<td><a href="projectview?artifactId=$dep.ArtifactId">$dep.ArtifactId</a></td>
		#else
		<td>$dep.ArtifactId</td>
		#end
		<td><a href="$dep.URL">$!project.Url</a></td>
		<td>$dep.Version</td>
		<td>$!dep.Jar</td>
		<td>$dep.Type</td>
		<td>
		#set ($license2 = "a")
		#set ($license2 = $engine.License.getLicense($dep.ArtifactId))
		#if ($license2.getClass().getName() != "java.lang.String") 
			<a href="$license2.File">License File</a>
		#else
		Unknown
		#end
		</td>
	</tr>
	#end
</table>
#else
	<div style="margin: 10px 10px">
	No defined dependencies.
	</div>
#end
</div>
