#set ($title = "Manage Projects")
#includeHeader()

<div class="h3">
<h3>Add new projects</h3>
<div style="margin: 10px 10px">
<p>
Enter the URL of your project.xml file (this can be a link into your CVS website)
</p>
<form action="ManageProjects" method="POST">
	<input type="hidden" name="action" value="add"/>
	<textarea style="width: 90%" name="url" size="100"></textarea>
	<p/>
	<input type="submit" value="Add Project"></input>

</form>
</div>
</div>

#includeFooter()