<br/>
      	
<div class="h3">
<h3>Repository</h3>

${rowtoggler.reset()}
<table style="margin: 10px 10px; border: 1px solid black">
	<tr class="$rowtoggler.Next">
		<th>SCM Repository</th>
		<td>$project.MavenProject.Repository.Connection</td>
	</tr>
	<tr class="$rowtoggler.Next">
		<th>SCM Web URL</th>
		<td>
			<a href="$project.MavenProject.Repository.Url">$project.MavenProject.Repository.Url</a>
		</td>
	</tr>
</table>
<br/>

<h3>Mailing Lists</h3>
${rowtoggler.reset()}
<table style="margin: 10px 10px; border: 1px solid black">
	<tr class="$rowtoggler.Next">
		<th>Name</th>
		<th>Archive</th>
		<th>Subscribe</th>
		<th>Unsubscribe</th>
		
	</tr>
	#foreach ($list in ${project.MavenProject.MailingLists})
	<tr class="$rowtoggler.next">
		<td>$list.Name</td>
		<td>#if ($list.Archive != "")<a href="$list.Archive">Archive</a>#else None#end</td>
		<td>#if ($list.Subscribe != "")<a href="$list.Subscribe">Subscribe</a>#else None#end</td>
		<td>#if ($list.Unsubscribe != "")<a href="$list.Unsubscribe">Unsubscribe</a>#else None#end</td>
	</tr>
	#end
</table>
</div>
		
		