<style type="text/css">
	table.issues {
		border-collapse: collapse;
	}
	
	table.issues tr {
		border: 1px solid black;
		padding-bottom: 3px;
	}
</style>

#set ($bp = $serviceManager.lookup("org.codehaus.labyrinth.components.JiraBlockProvider"))
#set ($pbp = $serviceManager.lookup("org.codehaus.labyrinth.om.peers.ProjectPeer"))

#set ($projectBlocks = $bp.getIssues($project))

There are $projectBlocks.size() issues
<table class="projectBlocks">
#foreach ($projectBlock in $projectBlocks)
	<tr>
		<td><a href="projectBlock.URL">$projectBlock.id<a></td>		
		<td>$issue.Title</td>		
	</tr>
#end
</table>